@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.signupBackground {
        /* background-image: url("./loginbackground.jpg"); */
        background-size: cover;
        background-position: center;
        height: 100vh;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        background: linear-gradient(to right, #DA9C9C, #A25DD0);
        user-select: none;
}

.signupBackground .header {
        display: flex;
        flex-direction: column;
        align-items:center;
        color: #ffffff;
        font-size: 40px;
        padding: 25px;
        font-family: 'Nunito';
        font-weight: 1000;
        user-select: none;
        border-bottom: 0px;

}

.signupBackground .header h3 {
        font-size: 40px;
        font-weight: 1000;
}

.signupBackground .signup-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

}

.signupBackground .signup-container img {
        width: 500px;
        height: 400px;
}

.signupBackground.signup-container.main-frm {
        width: 40%;
}

.signupBackground .signup-container.main-frm .form-lbl {
        font-size: 24px;
}

.signupBackground .signup-container .main-frm .btn {
        background-color: #DA9C9C !important;
        border-radius: 50px !important;
        border-color: #DA9C9C;
        width: 100%;
        color: #ffffff !important;
        font-size: 24px !important;
        font-family: 'Nunito';
        background: linear-gradient(0deg, #DA9C9C, #DA9C9C), #DA9C9C;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 100px;
        border-color: #000000;
}
.form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 20px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control::placeholder {
        color: #999; /* Light gray placeholder text */
        opacity: 1; /* Ensure it is fully visible */
        font-size: 0.9rem; /* Optional: Adjust the font size */
      }
      
      /* Placeholder on focus */
      .form-control:focus::placeholder {
        color: #000000; /* Slightly darker gray when focused */
      }


.form-floating .label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        height: 100%;
        overflow: hidden;
        text-align: start;
        text-overflow: "Nunito";
        white-space: nowrap;
        pointer-events: none;
        border: var(--bs-border-width) solid transparent;
        transform-origin: 0 0;
        transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    }
.main-frm {
        width: 40vw;
        display: flex;
        flex-direction: column;
}

.main-frm label {
        font-size: 25px;
        font-weight: 600;
}

.form-control-plaintext .form-floating .form-control-plaintext {
        padding-top: 1rem;
        padding-bottom: 1.25rem;
        padding-left: 250px;

}
#floatingEmail.form-control{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 200px;
        display: flex;

}
#floatingPassword.form-control{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 200px;
}
#floatingConfirmPassword.form-control{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 200px;
}
#floatingDisplayName.form-control{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 200px;
}




/* .btn {
        background-color: #DA9C9C !important;
        border-radius: 50px !important;
        border-color: #DA9C9C;
        width: 100%;
        color: #ffffff !important;
        font-size: 24px !important;
} */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.home-page-container {
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        user-select: none;
}

.home-page-container .left-part {
        width: 100%;
}

.home-page-container .right-part {
        width: 100%;
        padding: 50px;
}

.home-page-container .left-part img {
        height: 100vh;
        width: 100%;
        background-color: #3e2053;
}

.home-page-container .right-part .btn {
        background-color: #DA9C9C !important;
        border-radius: 50px !important;
        border-color: #DA9C9C;
        width: 100%;
        color: #000000 !important;
        font-size: 50px !important;
        font-weight: 600;
        font-family: 'Nunito';

        background: linear-gradient(0deg, #DA9C9C, #DA9C9C), #DA9C9C;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 100px;
}

.home-page-container .right-part .sign-up-link a {
        color: #DA9C9C;
        text-decoration: none;
        font-weight: bold;
}

.home-page-container .right-part .sign-up-link {
        display: flex;
        justify-content: center;
        position: relative;
        top: 90px;
        font-family: 'Nunito';
}

.home-page-container .right-part .signin {
        /* Sign In As */
        height: 84px;
        left: 820px;
        right: 31px;
        top: calc(50% - 84px/2 - 94px);
        padding-bottom: 20px;
        font-family: 'Nunito';
}

.home-page-container .right-part .signin h3 {
        font-family: 'Nunito';
        font-weight: 800;
        letter-spacing: 3.8px;
}

*
/*
 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.login-container {
        display: flex;;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
}

.login-container .navBar {
        width: 100%;
        padding: 0px 26px 0px 91px;
        /* height: 10vh; */
        overflow: visible;
}

.login-container .navBar .justify-content-end {
/* font-size: 30px; */
gap: 40px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
        position: absolute;
        top: 37px;
        right: -37px;
        width: 50%;
        padding: 0px 0px 0px;
        background-color: white;
        border-radius: 0px;
}

.login-component .login-form {
        width: 50%;
        padding: 0px 0px 0px;
        background-color: white;
        border-radius: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;

}

.login-component .login-form .login-section {
        width: 95%;
        font-size: 16px;
}

.login-component {
        display: flex;
        flex-direction: row;
        width: 100vw;
}

.login-form h1 {
        font-size: 44px;
        color: #333;
        margin-bottom: 10px;
}
.navbar #home {
        color: var(--bs-navbar-brand-hover-color);
        /* margin-left: ; */
    }

.login-form p {
        font-size: 24px;
        color: #666;
        padding-left: 100px;
}

.login-form a {
        color: #e08785;
        text-decoration: none;
}

.login-form label {   
        width: 300px;
        /* padding-left: 80px; */
                
}

.login-form input {
        border-color: #e08785;
        border-radius: 60px!important;
        font-family: initial;
}


.input-group {
        margin-bottom: 20px;
        font-size: 30px;
        /* height: 30px; */
        padding-left: 100px;
        margin : none;
}
.input-group #email{
        width: 452px;
        margin-left: 0px;
        border: 2px solid #e08785;
        padding-left: 30px;
        margin-top: 10px;

        
}
.password-input{
        width: 452px;
        border: 2px solid #e08785;
        border-radius: 60px!important;
        padding-left: 30px;
        margin-top: 15px;
}

.password-input input {
        
        margin-left: 0px;
        border: none;
        outline: none;
}
.password-input #password {
        outline: none;
        padding-left: 0px;
        border: none;
        outline: none;

}


.form-group label {
        display: block;
        font-size: 44px;
        color: #333;
        font-display: flex;
}

.form-group input {
        width: 100%;
        font-size: 44px;
        border-radius: 5px;
        
}


.password-wrapper {
        display: flex;
        align-items: center;
}

.password-wrapper input {
        flex: 1;
}

.password-wrapper .toggle-visibility {
        background: none;
        border: none;
        font-size: 46px;
        cursor: pointer;
}

.options {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
        font-size: 30px;
        margin-top: 5%;
        gap: 100px;
}
.options input[type="checkbox"] {
        margin-right: 10px;
}

.toggle-password{
        border: none;
        background-color: transparent;
}

.options label {
        display: flex;
        align-items: center;
        width: 300px;
}
.options .rememberMe {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-top: 5px;
        padding-left: 100px;
}
.options .forgot-password {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-top: 5px;
        padding-left: 40px;
}

.sign-in-button {
        background-color: #DA9C9C !important;
        border-radius: 50px !important;
        border-color: #DA9C9C;
        width: 100%;
        color: #ffffff !important;
        font-size: 40px !important;
        font-weight: 600;
        font-family: 'Nunito';

        background: linear-gradient(0deg, #DA9C9C, #DA9C9C), #DA9C9C;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        /* Note: backdrop-filter has minimal browser support */
        outline: none;
        border : none;
;
}

.sign-in-button-container{
        padding-left: 95px;
        padding-right: 60px;
}

.sign-in-button:hover {
        background-color: #d17473;
}

.login-image {
        width: 50%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
}

.login-image img {
        width: 100%;
        height: 87.5vh;
        overflow: hidden;
}
.language-dropdown-container {
        z-index: 1050;
      }

    /* .login-component {
        overflow: visible;
      } */